<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Waves Voting</title>
    <!-- Bootstrap core CSS-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="../assets/css/material-dashboard.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card card-register text-center">
                    <div class="card-header"><h3>Регистрация</h3></div>
                    <div class="card-body">
                        <form action="/success_registration" method="POST">
                            
                            <input type="submit" class="btn btn-primary btn-block" style="color: white !important" data-toggle="modal" data-target="#reg-good"
                                value="Получить SEED">
                        </form>
                        <div class="text-center">
                            <a class="d-block small mt-3" href="login">Войти в кабинет</a>
                            <br>
                            <!-- <a class="d-block small" href="forgot-password.html">Forgot Password?</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div id="reg-good" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="card card-register mx-auto mt-5 text-center">
                <div class="card-header">Уведомление
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="card-body">
                    <h5>Вы успешно прошли первый этап регистрации в системе</h5>
                    <br>
                    <p>Вам на почту придет подтверждение для окончательной регистрации</p>
                    <button class="btn btn-primary btn-block">
                        <a style="color: white !important" href="/login">Ок</a>
                    </button>
                    <div class="text-center">
                        <!-- <a class="d-block small mt-3" href="login.html">Войти</a> -->
                        <br>
                        <!-- <a class="d-block small" href="forgot-password.html">Forgot Password?</a> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript-->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
</body>

</html>